.nav__link.is-active {
    font-weight: bold;
    text-decoration: underline;
  }

  .table-wrap {
    overflow-x: auto;
  }
  
  .order-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 700px; /* スマホで潰れない */
  }

  
  .order-table th,
  .order-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
  }


  .breadcrumbs {
    margin: 12px 0;
    font-size: 14px;
  }
  .breadcrumbs a {
    text-decoration: none;
  }
  .breadcrumbs span {
    font-weight: bold;
  }