{% extends "base.html" %}

{% block title %}{{ product.name }}｜商品詳細{% endblock %}

{% block content %}
<h1>{{ product.name }}</h1>

<p>価格：{{ product.price }} 円</p>

<!-- <a href="#">購入する</a> -->

<p>
  <!-- <a href="{% url 'dicon_app:product_list' %}"> -->
    <a class="btn btn-outline-success"
   href="{% url 'dicon_app:shop_consult' shop_pk=product.shop_id %}?product={{ product.name|urlencode }}&qty=1">
  LINEでこの商品を相談
    </a>
    <a class="btn btn-dark" href="{% url 'payments:checkout' product.id %}">購入する</a> 
    <a href="{% url 'dicon_app:product_list' %}">← 商品一覧に戻る</a>
</p>
{% endblock %}